@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap");
/*-------------------- Min-Null Style File---------------------*/
*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

html,
body {
  height: 100%;
  line-height: 1;
}

/*-------- common -------*/
body {
  font-family: "Montserrat";
  font-size: 14px;
  font-weight: 400;
  line-height: 1.7;
  color: #595959;
}

[class*=__container] {
  max-width: 1240px;
  padding: 0 15px;
  margin: 0 auto;
}

.wrapper {
  overflow: hidden;
  min-height: 100%;
}

.header-doc {
  font-size: 45px;
  font-weight: 700;
  color: #000;
}

.header-block {
  font-size: 22px;
  font-weight: 700;
}

.header-block-1 {
  color: #fff;
}

.header-block-2 {
  color: #000;
}

/*----------- mods ------------*/
.link--tel:hover {
  text-decoration: underline;
}

.link--mail {
  text-decoration: underline;
}
.link--mail:hover {
  text-decoration: none;
}

/*----------- main ------------*/
.main__body {
  display: flex;
}
.main__block-1 {
  padding: 0 0 0 0;
}
.block-1 {
  flex: 0 1 30.6%;
  background: #1e2939;
}
.block-1__photo {
  margin: 40px 0 0 0;
  padding: 0 0 95.5% 0;
}
.photo {
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
}
.photo img {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
}

.items-contacts__item:not(:last-child) {
  margin: 0 0 5px 0;
}
.items-contacts span {
  font-weight: 700;
  margin: 0 10px 0 0;
  color: #fff;
}
.link-contacts {
  color: #fff;
  opacity: 0.5;
}

.block-2 {
  flex: 0 1 69.4%;
  background: rgb(255, 255, 255);
}