@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap");
/*-------------------- Min-Null Style File---------------------*/
*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

html,
body {
  height: 100%;
  line-height: 1;
}

/*-------- common -------*/
body {
  font-family: "Montserrat";
  font-size: 14px;
  font-weight: 400;
  line-height: 1.7;
  color: #595959;
}

[class*=__container] {
  max-width: 1240px;
  padding: 0 15px;
  margin: 0 auto;
}

.wrapper {
  overflow: hidden;
  min-height: 100%;
}

.header-doc {
  font-size: 45px;
  font-weight: 700;
  color: #000;
}

.header-block {
  font-size: 22px;
  font-weight: 700;
}

.header-block-1 {
  color: #fff;
}

.header-block-2 {
  color: #000;
}

.title-function {
  font-weight: 700;
  line-height: 1.2;
  color: #000;
}

/*-------- var -------*/
/*----------- mods ------------*/
.link--tel:hover {
  text-decoration: underline;
}

.link--mail {
  text-decoration: underline;
}
.link--mail:hover {
  text-decoration: none;
}

/*----------- main ------------*/
.main__body {
  display: flex;
}
.main__block-1 {
  position: relative;
  z-index: 1;
}
.main__block-2 {
  width: 1134px;
  position: absolute;
  top: 100px;
  left: 303px;
}
.block-1 {
  flex: 0 1 30.6%;
  background: #1e2939;
}
.block-1__body {
  padding: 0 0 370px 0;
}
.block-1__photo {
  margin: 40px 0 0 0;
  padding: 0 0 95.5% 0;
}
.block-1__info {
  padding: 50px 0 0 40px;
}

.photo {
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
}
.photo img {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
}

.contacts__header {
  margin: 0 0 8px 0;
}
.items-contacts__item:not(:last-child) {
  margin: 0 0 5px 0;
}
.items-contacts span {
  font-weight: 700;
  margin: 0 10px 0 0;
  color: #fff;
}
.link-contacts {
  color: #fff;
  opacity: 0.5;
}

.tech-skills__header {
  margin: 0 0 8px 0;
}
.tech-skills__list {
  margin: 0 0 0 15px;
}

.list-block-1 {
  color: rgb(255, 255, 255);
}
.list-block-1 li::marker {
  color: #fb6d3a;
}

.soft-skills__list {
  margin: 0 0 0 15px;
}

.block-2 {
  flex: 0 1 69.4%;
}
.block-2__body {
  padding: 0 0 150px 430px;
}
.block-2 li {
  margin: 0 0 0 17px;
}

.text-about {
  max-width: 400px;
}

.list-projects li::marker {
  font-weight: 700;
  color: #000;
}
.list-projects span {
  font-weight: 700;
  color: #000;
}

.link-projects {
  color: #595959;
}
.link-projects:hover {
  text-decoration: underline;
  color: #fb6d3a;
}

.items-experience {
  max-width: 521px;
}
.items-experience__item:not(:last-child) {
  margin: 0 0 20px 0;
}
.item-experience__title {
  margin: 0 0 11px 0;
}
.item-experience__data {
  margin: 0 0 8px 0;
}
.title-main {
  font-size: 16px;
  font-weight: 700;
  color: #fb6d3a;
}
.title-main span {
  color: #000;
}

.data {
  position: relative;
  font-size: 12px;
  color: #a8a8a8;
}
.data span::after {
  content: "";
  display: inline-block;
  height: 15px;
  position: relative;
  top: 4px;
  left: 0;
  border: solid 1px #a8a8a8;
  margin: 0 15px 0 15px;
}