@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');
@import "./nullstyles.scss";

/*-------- common -------*/
body {
	font-family: 'Montserrat';
	font-size: 14px;
	font-weight: 400;
	line-height: 1.7;
   color: #595959;
}

[class*=__container] {
	max-width: 1240px;
	padding: 0 15px;
	margin: 0 auto;
}

.wrapper {
   overflow: hidden;
   min-height: 100%;
}
.header-doc {
   font-size: 45px;
   font-weight: 700;
   color: #000;
}
.header-block {
	font-size: 22px;
   font-weight: 700;
}

.header-block-1 {
	color: #fff;
}

.header-block-2 {
	color: #000;
}
.title-function {
	font-weight: 700;
	line-height: 1.2;
   color: #000;
}
/*-------- var -------*/
$hb-1-bottom: 0 0 8px 0;
$lb-1-left: 0 0 0 15px;

/*----------- mods ------------*/
.link--tel {
	&:hover {
      text-decoration: underline;
   }
}
.link--mail {
	text-decoration: underline;
   &:hover {
      text-decoration: none;
   }
}

/*----------- main ------------*/
.main {
	&__body {
		display: flex;
	}

	&__block-1 {
		position: relative;
		z-index: 1;
	}

	&__block-2 {
		width: 1134px;
		position: absolute;
		top: 100px;
		left: 303px;
	}

	&__experience {
	}

	&__education {
	}
}
.block-1 {
	flex: 0 1 30.6%;
	background: #1e2939;
	&__body {
		padding: 0 0 370px 0;
	}
	&__photo {
		margin: 40px 0 0 0;
      padding: 0 0 95.5% 0;
	}

	&__info {
		padding: 50px 0 0 40px;
	}
}
.photo {
	width: 100%;
   height: 100%;
   position: relative;
   overflow: hidden;

   img {
      width: 100%;
      position: absolute;
      top: 0;
      left: 0;
      object-fit: cover;
   }
}
.info {
	&__contacts {
		margin: 0 0 47px 0;
	}

	&__tech-skills {
		margin: 0 0 47px 0;
	}
}
.contacts {
	&__header {
		margin: $hb-1-bottom;
	}

	&__items {
	}
}

.items-contacts {
	&__item:not(:last-child) {
      margin: 0 0 5px 0;
   }
   span {
      font-weight: 700;
		margin: 0 10px 0 0;
      color: #fff;
   }
	&__item {
	}
}
.item-contacts {

	&__link {
	}
}
.link-contacts {
	color: #fff;
   opacity: 0.5;
}

.tech-skills {

	&__header {
		margin: $hb-1-bottom;
	}

	&__list {
		margin: $lb-1-left;
	}
}
.list-block-1 {
	color: rgb(255, 255, 255);
	li::marker {
      color: #fb6d3a;
   }
}

.info-aside {

	&__soft-skills {
	}
}
.soft-skills {

	&__header {
	}

	&__list {
		margin: $lb-1-left;
	}
}
.block-2 {
	flex: 0 1 69.4%;
	//background: #cccccc;
	&__body {
		padding: 0 0 150px 430px;
	}
	
	&__about {
		margin: 0 0 40px 0;
	}

	&__projects {
		margin: 0 0 50px 0;
	}
   
	&__experience {
		margin: 0 0 45px 0;
	}

	li {
		margin: 0 0 0 17px;
	}
}
.about {

	&__title {
	}

	&__header {
	}

	&__text {
	}
}


.text-about {
	max-width: 400px;
}
.projects-main {

	&__header {
	}

	&__list {
	}

	&__link {
	}
}

.list-projects {
	li::marker {
      font-weight: 700;
      color: #000;
   }

   span {
      font-weight: 700;
      color: #000;
   }
}
.link-projects {
	color: #595959;
   &:hover {
      text-decoration: underline;
      color: #fb6d3a;
   }
}
.experience {

	&__header {
	}

	&__items {
	}
}
.items-experience {
	max-width: 521px;

   &__item:not(:last-child) {
      margin: 0 0 20px 0;
   }
	&__item {
	}
}
.item-experience {
	&__title {
      margin: 0 0 11px 0;
   }

   &__data {
      margin: 0 0 8px 0;
   }
	&__list {
	}
}
.title-main {
	font-size: 16px;
   font-weight: 700;
   color: #fb6d3a;
   span {
      color: #000;
   }
}
.data {
	position: relative;
   font-size: 12px;
   color: #a8a8a8;
   span::after {
      content: "";
      display: inline-block;
      height: 15px;
      position: relative;
      top: 4px;
      left: 0;
      border: solid 1px #a8a8a8;
      margin: 0 15px 0 15px;
}
.list-experince {
}
.education {

	&__header {
		margin: 0 0 5px 0;
	}

	&__title {
		margin: 0 0 5px 0;
	}

	&__data {
		margin: 0 0 5px 0;
	}
}
}